openapi: 3.1.0
info:
  title: WATI WhatsApp Business Contacts Templates API
  description: 'Tenant-scoped REST API for the WATI WhatsApp Business platform. Use this API

    to send WhatsApp template and session messages, manage contacts, fetch

    conversation history, and orchestrate operator assignments. Each WATI

    workspace exposes its own base URL (for example,

    `https://live-mt-server.wati.io/{tenantId}`) and authenticates calls with a

    Bearer access token issued from the WATI dashboard.

    '
  version: 1.0.0
  contact:
    name: WATI Support
    url: https://support.wati.io
  license:
    name: Proprietary
servers:
- url: https://live-mt-server.wati.io/{tenantId}/api/v1
  description: WATI multi-tenant production server
  variables:
    tenantId:
      default: '0'
      description: WATI tenant / workspace identifier assigned to the account.
security:
- bearerAuth: []
tags:
- name: Templates
  description: Send WhatsApp template messages.
paths:
  /sendTemplateMessage:
    post:
      tags:
      - Templates
      summary: Send a WhatsApp template message
      description: Send a pre-approved WhatsApp template message to a contact identified by phone number.
      operationId: sendTemplateMessage
      parameters:
      - in: query
        name: whatsappNumber
        required: true
        schema:
          type: string
        description: Destination WhatsApp number with country code.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - template_name
              - broadcast_name
              properties:
                template_name:
                  type: string
                  description: Name of the WhatsApp template approved for the workspace.
                broadcast_name:
                  type: string
                  description: Logical broadcast name used by WATI to group sends.
                parameters:
                  type: array
                  description: Template parameter values keyed by template variable name.
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      value:
                        type: string
      responses:
        '200':
          description: Template message accepted for delivery.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'WATI uses Bearer token authentication. Tokens are issued from the WATI

        dashboard under API Docs and must be supplied as

        `Authorization: Bearer <token>` on every request.

        '
externalDocs:
  description: WATI API Reference
  url: https://docs.wati.io/reference/introduction
